* {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  align-items: center;
}

header img {
  order: 1
  width: auto;
  height: auto;
}

.header_image {
  width: 70px;
  height: 60px;
  padding-left: 50px;
}

.header_title {
  order: 2;
}

.header_nav {
  order: 3;
}
